<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="isoApp">
<head>
    <title>Status Screen</title>
</head>
<body>
<div id="StatusScreen" ng-controller="StatusController">
    
    <label for="CharacterSelect">Character Select</label>
    <select id="CharacterSelect">
        <option value="1">Hero 1</option>
    </select>

    <label for="ClassSelect">Class Select</label>
    <select id="ClassSelect" ng-model="vm.characterClass" ng-options="job.value as job.text for job in jobs">
        <option value="">Select character class...</option>
    </select>

    <label for="WeaponSelect">Weapon Select</label>
    <select id="WeaponSelect" ng-model="vm.weapon" ng-options="sword.name for sword in swords">
        <option value="">Select weapon...</option>
    </select>
</div>
<script src="Scripts/Libraries/angular.min.js"></script>
<script src="Scripts/Game/App.js"></script>

<script src="Scripts/Game/Enums/Job.js"></script>
<script src="Scripts/Game/Enums/Ability.js"></script>

<script src="Scripts/Game/Abilities/Ability.js"></script>
<script src="Scripts/Game/Abilities/Action.js"></script>

<script src="Scripts/Game/Weapons/Weapon.js"></script>
<script src="Scripts/Game/Weapons/Swords.js"></script>

<script src="Scripts/Game/Services/HelperService.js"></script>
<script src="Scripts/Game/Controllers/StatusController.js"></script>
</body>
</html>
